.footer__container{
    max-width: 1520px;
    background-color: #1B262F;
    padding: 31px 225px;
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer__block{
    gap: 115px;
    align-items: center;
    max-width: 622px;
    display: flex;
    justify-content: space-between;
}
.footer__list{
    max-width: 283px;
    gap: 25px;
}
.footer__list{
    display: flex;
    justify-content: space-between;
}
.footer__link{
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color:#FBFCFE;
    opacity: 70%;
}
.footer__link:hover{
    cursor: pointer;
    opacity: 100%;
}  
.footer__box{
    align-items: center;
    max-width: 120px;
    display: flex;
    gap: 20px;
}
.footer__btn-link:hover{
    background-color: #DA6D97;
}

//responsive

@media screen and (max-width:1090px) {
    .footer__container{
        padding: 31px 20px;
    }
}
@media screen and (max-width:720px) {
    .footer__container{
        flex-direction: column;
    }
    .footer__block{
        flex-direction: column;
        gap: 0;
    }
    .footer__logo{
        padding-bottom: 40px;
    }
    .footer__list{
        flex-direction: column;
        text-align: center;
    }
    .footer__nav{
        margin-bottom: 40px;
    }
}